body {
    padding: 0;
    margin: 0;
    background: #D3D4C0;
    font-size: 24px;
    font-style:italic
    font-family; Arial: sans-serif;
    text-align: center;
}

#menu{
  display: flex;
  width: auto;
  height: auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;


}

img{border: cornsilk;}





#menu div {display: flex;
    list-style: none;
    padding: 0;
    position: relative;
}

#menu div a {
  
    
    font-size: 25px;
    text-align: center;
    border: 2px solid white;
    padding: 12px 12px 18px 15px;
    text-decoration:none;
    margin-left: -1px;
    color:black;
    background-image: url('image.jpg');
    background-size: cover;
    
    
    background-position: left;
    -webkit-transition: all 0.8s ease-in-out;
    
    -moz-transition: all 0.8s ease-in-out;
    
    -o-transition: all 0.8s ease-in-out;
}

#menu div a:hover {
    color: white;
   color: rgb(53, 48, 48);
    background-position:right;
}
.row {
  display: flex;
    margin-bottom: 5%;
  }
  
  .column {
    flex: 50%;
    color: rgb(109, 109, 109);
  }
  .column1{
      flex: 50%;
      margin-top: 1%;
      margin-right: 80px;
        }

.column1 a{
    font-size: 55px;
    color:rgb(101, 68, 133);
}
.column1 a:hover{
                color: darkorchid;
                cursor: pointer;
                transition: 0.3s;
            }
            
            img {
                border-radius: 50%;
              }

 /* let's make for skills              */

 * {box-sizing:border-box}


.container {
  width: 60%; 
  background-color: #ddd; 
}

.skills {
  text-align: right; 
  padding-top: 5px;
  padding-bottom: 5px; 
  margin-bottom: 50px;
}

.html {width: 85%; background-color: #4CAF50;} 
.css {width: 70%; background-color: #2196F3;} 
.js {width: 45%; background-color: #f44336;} 
.python {width: 70%; background-color: #90a808;} 
.java {width: 40%; background-color: #148cb1;} 
.c {width: 65%; background-color: rgb(163, 32, 157);}



@media only screen and (max-width: 600px){
  body{
    font-size: 5.5vw;
  }
  #menu{
    display: flex;
    width: auto;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  
  
  }

  #menu div {display: flex;
    list-style: none;
    padding: 0;
    position: relative;
}

#menu div a {
  
    
    font-size: 14px;
    text-align: center;
    border: 1px solid white;
    padding: 6px 6px 6px 6px;
    text-decoration:none;
    margin-left: -1px;
    color:black;
    background-image: url('image.jpg');
    background-size: cover;
    
    
    background-position: left;
    -webkit-transition: all 0.8s ease-in-out;
    
    -moz-transition: all 0.8s ease-in-out;
    
    -o-transition: all 0.8s ease-in-out;
}

#menu div a:hover {
    color: white;
   color: rgb(53, 48, 48);
    background-position:right;
}
  .row {
    display: table;
      margin-bottom: 5%;
    }

    .column {
      margin: auto;
      width: 60%;
      color: rgb(109, 109, 109);
    }
    .column1{
        margin: auto;
        
        
          }
  
}

.mesh-loader {

  overflow: hidden;
  height: 100%;
  width: 100%;
  position: fixed;
  justify-content: center;
  align-items: center;
}

.mesh-loader .circle {
  width: 30px;
  height: 30px;
  position: absolute;
  background: #03A9F4;
  border-radius: 50%;
  margin: -12.5px;
  -webkit-animation: mesh 3s ease-in-out infinite;
  animation: mesh 3s ease-in-out infinite -1.5s;
}

.mesh-loader > div .circle:last-child {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.mesh-loader > div {
  position: absolute;
  top: 50%;
  left: 50%;
}

.mesh-loader > div:last-child {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

@-webkit-keyframes mesh {
0% {
  -webkit-transform-origin: 50% -100%;
          transform-origin: 50% -100%;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}
50% {
  -webkit-transform-origin: 50% -100%;
          transform-origin: 50% -100%;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
50.00001% {
  -webkit-transform-origin: 50% 200%;
          transform-origin: 50% 200%;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
100% {
  -webkit-transform-origin: 50% 200%;
          transform-origin: 50% 200%;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
}
@keyframes mesh {
0% {
  -webkit-transform-origin: 50% -100%;
          transform-origin: 50% -100%;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}
50% {
  -webkit-transform-origin: 50% -100%;
          transform-origin: 50% -100%;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
50.00001% {
  -webkit-transform-origin: 50% 200%;
          transform-origin: 50% 200%;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
100% {
  -webkit-transform-origin: 50% 200%;
          transform-origin: 50% 200%;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
}


